<a href="{% url 'quizapps:index' %}"> Index </a> - 
<a href="{% url 'quizapps:create_quiz' %}">Create Quiz</a> -
{% if user.is_authenticated %}
	<a>Hello {{ user.username }}</a>
	<!--<a href="{% url 'users:logout' %}"> Log Out </a>-->
	<form action="{% url 'users:logout' %}" method="POST">
		{% csrf_token %}
		<button name="submit">Log Out</button>
	</form>
{% else %}
	<a href="{% url 'users:login' %}"> Log In </a> -
	<a href="{% url 'users:register' %}"> Register </a>
{% endif %}
<p style="line-height:0px;">The following quizzes have been created :</p>
<ul>
{% for quiz in quizs %}
	<li><a href="{% url 'quizapps:quiz' quiz.id %}"> {{ quiz }} </a></li>
{% endfor %}
</ul>