<a href="{% url 'quizapps:index' %}"> Index </a> - 
<a href="{% url 'quizapps:create_question' quiz.id %}"> Create New Questions </a> -
<a href="{% url 'quizapps:quizview' quiz.id %}"> QuizView </a> -
<a href="{% url 'quizapps:delete_quiz' quiz.id %}"> Delete Quiz </a> -
<a href="{% url 'quizapps:assign_quiz' quiz.id %}">Assign Quiz</a> 
{% if questions %}
	<br>
	<br>
	{% for question in questions %}
		<a href="{% url 'quizapps:question' question.id %}"> Q.{{ question.returncurrentid }}) {{ question }} </a><br>
	{% endfor %}
{% else %}
	<p> No Questions Created </p>
{% endif %}
