<head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<header>
    <h1> Report Card </h1>
</header>

<main>
{% if user.userprofile.role == "ST" %}
	<table>
		<tr>
	    <th>Quiz</th>
	    <th>Score</th>
	    <th>Date</th>
	  </tr>
	{% for score in scores %}
	  <tr>
	    <th>{{ score.quiz }}</th>
	    <th>{{ score.score }}</th>
	    <th>{{ score.date }}</th>
	  </tr>
	{% endfor %}
	</table> 
{% else %}
	{% for user in user_list %}
		<h5>{{ user }}</h5>
		<table>
			<tr>
			    <th>Quiz</th>
			    <th>Score</th>
			    <th>Date</th>
			</tr>
		{% for score in user.score_set.all %}
		  <tr>
		    <th>{{ score.quiz }}</th>
		    <th>{{ score.score }}</th>
		    <th>{{ score.date }}</th>
		  </tr>
		{% endfor %}
		</table> 
		
	{% endfor %}

{% endif %}
</main>